/* Estilo de página index.html */

:root {
    --width: 25%;
    --font-saira: 'Saira Condensed', sans-serif;
}

/* Seccines Generales */

p {
    margin-bottom: 0;
}

/* Sección Título */

.titulo-principal-container {
    background-color: rgb(54, 69, 92);
    font-family: var(--font-saira);
    letter-spacing: 2px;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Sección Navbar */

.bg-body-tertiary {
    background-color: #cbc6c3!important;
}

.navbar-contenedor {
    position: sticky;
    top: 24px;
    z-index: 1;
}

/* Sección Perfil */

.perfil-contenedor {
    position: fixed;
    background-color: rgb(54, 69, 92);
    border: solid 3px #508ac1;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    width: var(--width);
    border-radius: 0 5px 5px 0;
    color: white;
    height: 100%;
    -webkit-box-shadow: 3px 0px 9px 0px rgba(115,115,115,1);
    -moz-box-shadow: 3px 0px 9px 0px rgba(115,115,115,1);
    box-shadow: 3px 0px 9px 0px rgba(115,115,115,1);;
}

.btn-colapsar-perfil {
    color: white;
    position: absolute;
    right: 0;
    font-size: 30px;
    padding: 5px 5px 2px 5px;
}

.btn-colapsar-perfil:hover {
    color: white;
    background-color: #041c35;
    border-radius: 5px;
}

.perfil-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
    border: solid 1px black;
}

.perfil-nombre {
    font-family: var(--font-saira);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
}

.perfil-titulo {
    font-family: var(--font-saira);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
}

.perfil-descrp {
    font-family: var(--font-saira);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.perfil-link {
    font-family: var(--font-saira);
    color: white;
}

.perfil-link.perfil-link:hover {
    color: aquamarine;
}

/* Sección Main */

.main-contenedor {
    background-color: #f7f8f9;
    margin-left: var(--width);
    width: 75%;
}

/* Sección Tarjetas de Proyecto */

#contenedor-de-tarjetas {
    padding: 25px 0 0 25px;
}

.proyect-card {
    width: 25rem;
    padding: 0;
    margin: 0 25px 25px 0;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(110,110,110,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(110,110,110,1);
    box-shadow: 0px 0px 4px 0px rgba(110,110,110,1);
}

.card-text {
    font-family: var(--font-saira);
    font-weight: 400;
    margin-bottom: 1rem;
}

.btn-ver {
    border-radius: 20% / 50%;
}

.btn-code {
    border-radius: 20% / 50%;
}

.card-tags {
    margin-bottom: 0.5rem;
}