/* Estilo de página index.html */

:root {
    --width: 25%;
}

/* Seccines Generales */

p {
    margin-bottom: 0;
}

.titulo-principal-container {
    background-color: rgb(54, 69, 92);
}

/* Sección Navbar */

.bg-body-tertiary {
    background-color: #cbc6c3!important;
}

/* Sección Perfil */

.perfil-contenedor {
    position: absolute;
    background-color: rgb(54, 69, 92);
    border: solid #508ac1;
    border-left: 0;
    width: var(--width);
    border-radius: 0 5px 5px 0;
    color: white;
}

.btn-colapsar-perfil {
    color: white;
    position: absolute;
    right: 0;
    font-size: 30px;
    padding: 5px 5px 2px 5px;
}

.btn-colapsar-perfil:hover {
    color: white;
    background-color: #041c35;
    border-radius: 5px;
}

.img-perfil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
    border: solid 1px black;
}

.img-nombre {
    font-size: 20px;
}

.img-titulo {
    font-size: 16px;
}

/* Sección Main */

.main-contenedor {
    background-color: #f7f8f9;
    margin-left: var(--width);
    width: 75%;
}

